@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;1,700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

@font-face {
    font-family: 'Rhema';
    src: url('../Kaushan_Script/KaushanScript-Regular.ttf');
}

.linked-in {
    width: 100px !important;
    height: 30px !important;
    margin: 3px;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
}

.swiper-slide {
    background-attachment: fixed !important;
}

#app {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #f9d4ff 14%,#0d0e14 64%);
    border-radius: 13px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
}

::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 11px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.nav-link {
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.nav-link:hover {
    color: #FF5733;
}

.nav-item {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sw-1 {
    background-image: url('../images/wp2677604.jpg');
    height: 38vmax;;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(65, 105, 225, 0.63);
}

.sw-2 {
    background-image: url('../images/no-room-for-research-scientists-entity.jpg');
    height: 38vmax;;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.sw-3 {
    background-image: url('../images/chemicalsciencebg.jpg');
    height: 38vmax;;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

@keyframes border-animation {
    0%   {border-top: 2px solid orange;}
    50%  {border-right: 2px solid orange;}
    75%  {border-bottom: 2px solid blue;}
    80%  {border-left: 2px solid blue;}

    100% {
        border-top: 2px solid orange;
        border-right: 2px solid orange;
        border-bottom: 2px solid blue;
        border-left: 2px solid blue;
    }
}

@keyframes text-gradient-animation {
    0%  {
            background: -webkit-linear-gradient(rgb(255, 255, 0), rgb(130, 12, 240));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    50% {
            background: -webkit-linear-gradient(rgb(130, 12, 240), rgb(255, 0, 0));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    100%{
            background: -webkit-linear-gradient(rgb(2, 3, 24), rgb(255, 255, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
}

@keyframes slidedown {
    to {
     -webkit-transform: translate(0px, 300px);
     -ms-transform: translate(0px, 300px);
     transform: translate(0px, 300px);
    }
}

.swiper-button-next, .swiper-button-prev{
    color: #fff;
    padding: 1em 2em 1em 2em;
}

.greensock {
    overflow: hidden;
    visibility:hidden;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.wrapper {
    margin: 10% 0 0 0;
    border-left: 0px solid rgb(166, 255, 0);
    overflow: hidden;
    /* font-family: 'Chakra Petch', sans-serif; */
}

.bigline {
    font-size: 3vw;
    color: rgb(255, 0, 0);
    margin: 0 0 0 14px;
    padding: 0;
    line-height: 0.8;
    letter-spacing: -5px;
}

.introline {
    font-size: 3vw;
    margin: 0 0 0 20px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-weight: bold;
    margin: 0 0 0 6%;
}

.poster-ab {
    font-size: 2vw;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.poster-ab-bold {
    font-size: 2vw;
    background: -webkit-linear-gradient(rgb(130, 12, 240), rgb(255, 0, 0));
    animation: text-gradient-animation 3s cubic-bezier(0,0.2,0.8,1) infinite;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
}

.middle-name {
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 33% !important;
    margin-bottom: 33px;
    margin-left: -23px;
    padding: 0 10px 0 17px;
}

#idview:hover .middle-name, #idview:focus .middle-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    animation: slidedown 1s ease-in;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: reverse;
    background-color: rgba(7, 7, 32, 0.747);
}

.divina {
    font-size: 0.5vw;
}

p.introline {
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 768px) {
    #abk {
        width: 85%
    }

    .box {
        height: 300px;
    }
}

.over-view-blend {
    box-shadow: inset 0 0 0 2000px rgba(7, 7, 32, 0.747);
}

@media only screen and (max-width: 768px) {
    .box {
        height: 50px;
    }
}

.titre {
    max-width: 375px;
    font-size: 1.1vw;
    color:rgb(247, 234, 234);
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
    text-orientation: sideways-right;
    text-transform: uppercase;
}

b {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

.hastag {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    text-transform: capitalize;
    font-weight: bold;
}

.view {
    margin: 10px 0 10px 0;
}

.newsletter {
    width: 50% !important;
}

#exampleForm2 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #0099ff;
    outline: none;
    color: #fff;
    padding: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 0px !important;
    width: 25vw;
}

.fa-envelope {
    color: #fff;
}

#exampleForm2:focus {
    border-width: 0px !important;
    outline: none;
}

.md-form {
    border-width: 0px !important;
    border-style: none !important;
    border-color: #CFAF2F !important;
    outline: none !important;
}

i.fa-envelope {
    font-size: 1.5em;
}

.hd-purple {
    font-family: Roboto;
}

input::placeholder {
    font-weight: bold;
    color: #fff !important;
}

#abk {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


#idview:hover #abk, #idview:focus #abk {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.over-h5 {
    display: none;
    color: #fff;
}

#idview:hover .mask .over-h5, #idview:focus .mask .over-h5 {
    display: block;
}

.fa-long-arrow-alt-right {
    color: #fff;
}

.btn-outline-primary {
    color: #fff !important;
    font-weight: bold !important;
    border-color: blue !important;
    background-color: blue !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    border-color: blue !important;
    background-color: blue !important;
}

.btn-outline-info {
    color: #fff !important;
    font-weight: bold !important;
    border-color: rgb(255, 255, 255) !important;
    font-family: 'Source Code Pro', monospace;
}

.btn-outline-info:hover {
    color: #fff !important;
    font-weight: bold !important;
    border-color: rgb(255, 255, 255) !important;
}

.index-author {
    z-index: 999;
    color: rgb(255, 174, 0);
    font-family: 'Source Code Pro', monospace;
}

.btn-outline-primary: {
    color: #fff !important;
    border-color: #CFAF2F !important;
    background-color: #CFAF2F !important;
}

.full-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.btn-light-blue {
    background-color: #2196F3 !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 1.2vw;
    padding: 1em 3em 1em 3em;
}


.btn-light {
    background-color: rgb(255, 255, 255) !important;
    color: #2196F3 !important;
    font-weight: bold !important;
    font-size: 1.2vw;
    padding: 1em 3em 1em 3em;
}

.y-h {
    color: #92a5de;
    text-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 7px 7px 0 #4C5F98, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 13px 13px 0 #182B64, 14px 14px 0 #0F225B, 15px 15px 0 #071A53, 16px 16px 0 #02114A, 17px 17px 0 #0B0841, 18px 18px 0 #130039, 19px 19px 0 #1C0930, 20px 20px 0 #251227, 21px 21px 20px rgba(0,0,0,1), 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2);
}

.bg-dark {
    background-color: rgb(5, 5, 32) !important;
}

.nav-link {
    color:rgb(247, 234, 234);
    font-weight: bold;
}

.media {
    padding: 7px;
    z-index: 9999;
    color: #fff !important;
    right: 1%;
    bottom: 1%;
    position: fixed;
    border-radius: 21px;
    box-shadow: -44px 51px 44px 2px rgba(0,0,0,0.17);
    -webkit-box-shadow: -44px 51px 44px 2px rgba(0,0,0,0.17);
    -moz-box-shadow: -44px 51px 44px 2px rgba(0,0,0,0.17);
}

.media-nl {
    padding: 7px;
    z-index: 9999;
    color: #fff !important;
    left: 1%;
    bottom: 1%;
    position: fixed;
    border-radius: 21px;
    box-shadow: -44px 51px 44px 2px rgba(0,0,0,0.17);
    -webkit-box-shadow: -44px 51px 44px 2px rgba(0,0,0,0.17);
    -moz-box-shadow: -44px 51px 44px 2px rgba(0,0,0,0.17);
}

.fabulous {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-color: transparent;
    border-width: 0px;
    margin: 5px;
}

.article-author {
    text-transform: capitalize;
    font-size: small;
}

.article-title {
    text-transform: uppercase;
    font-size: small;
    color: #000;
    font-weight: bold;
}

.article-pub, .article-stats {
    font-size: small;
}

.v-2 {
    display: none;
}

.article-cover-img:hover > .v-2 {
    display: block;
}

.article-cover-img:hover > .v-1 {
    display: none;
}

.input-prefix {
    margin-left: -1.3em !important;
    margin-top: 9px;
}

.mstc {
    height: 75% !important;
}

h4.m-1, .content-bk {
    letter-spacing: 3px;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 30px;
    background: #eee;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.3em;
}

.fa-check {
    color: #b9ab77;
    font-size: 1.5em;

    margin: 7px;
}

h5.mt-2 {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: bold;
}

.curved-div svg {
    display: block;
}

.curved-div {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(50%2c 100%2c 151%2c 0.22)'%3e%3c/rect%3e%3cpath d='M26 500L526 0L796 0L296 500z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M344.8 500L844.8 0L1254.3 0L754.3 500z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M636.6 500L1136.6 0L1408.1 0L908.1 500z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M1414 500L914 0L539 0L1039 500z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M1122.2 500L622.2 0L520.2 0L1020.2 500z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M773.4 500L273.4 0L33.39999999999998 0L533.4 500z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3cpath d='M989.57466594138 500L1440 49.574665941379976L1440 500z' fill='url(%23SvgjsLinearGradient1013)'%3e%3c/path%3e%3cpath d='M0 500L450.42533405862 500L 0 49.574665941379976z' fill='url(%23SvgjsLinearGradient1014)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1013'%3e%3cstop stop-color='rgba(4%2c 17%2c 63%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(4%2c 17%2c 63%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1014'%3e%3cstop stop-color='rgba(4%2c 17%2c 63%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(4%2c 17%2c 63%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    box-shadow: inset 0 0 0 2000px #0a3ca7c7;
    color: #fff;
}

@media only screen and (min-width: 730px) {
    .payement-apps {
        height: 150px !important;
    }
}

.footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M58.92 -70.16L123.87 -32.66L123.87 42.34L58.92 79.84L-6.03 42.34L-6.03 -32.66zM58.92 154.84L123.87 192.34L123.87 267.34L58.92 304.84L-6.03 267.34L-6.03 192.34zM123.87 267.34L188.83 304.84L188.83 379.84L123.87 417.34L58.92 379.84L58.92 304.84zM58.92 379.84L123.87 417.34L123.87 492.34L58.92 529.84L-6.03 492.34L-6.03 417.34zM188.83 -70.16L253.78 -32.66L253.78 42.34L188.83 79.84L123.87 42.34L123.87 -32.66zM253.78 42.34L318.74 79.84L318.74 154.84L253.78 192.34L188.83 154.84L188.83 79.84zM188.83 154.84L253.78 192.34L253.78 267.34L188.83 304.84L123.87 267.34L123.87 192.34zM383.69 267.34L448.64 304.84L448.64 379.84L383.69 417.34L318.74 379.84L318.74 304.84zM383.69 492.34L448.64 529.84L448.64 604.84L383.69 642.34L318.74 604.84L318.74 529.84zM448.64 154.84L513.6 192.34L513.6 267.34L448.64 304.84L383.69 267.34L383.69 192.34zM513.6 492.34L578.55 529.84L578.55 604.84L513.6 642.34L448.64 604.84L448.64 529.84zM578.55 -70.16L643.5 -32.66L643.5 42.34L578.55 79.84L513.6 42.34L513.6 -32.66zM643.5 42.34L708.46 79.84L708.46 154.84L643.5 192.34L578.55 154.84L578.55 79.84zM578.55 154.84L643.5 192.34L643.5 267.34L578.55 304.84L513.6 267.34L513.6 192.34zM643.5 492.34L708.46 529.84L708.46 604.84L643.5 642.34L578.55 604.84L578.55 529.84zM773.41 42.34L838.37 79.84L838.37 154.84L773.41 192.34L708.46 154.84L708.46 79.84zM773.41 267.34L838.37 304.84L838.37 379.84L773.41 417.34L708.46 379.84L708.46 304.84zM773.41 492.34L838.37 529.84L838.37 604.84L773.41 642.34L708.46 604.84L708.46 529.84zM903.32 42.34L968.27 79.84L968.27 154.84L903.32 192.34L838.36 154.84L838.36 79.84zM903.32 267.34L968.27 304.84L968.27 379.84L903.32 417.34L838.36 379.84L838.36 304.84zM903.32 492.34L968.27 529.84L968.27 604.84L903.32 642.34L838.36 604.84L838.36 529.84zM1033.23 42.34L1098.18 79.84L1098.18 154.84L1033.23 192.34L968.27 154.84L968.27 79.84zM1098.18 154.84L1163.13 192.34L1163.13 267.34L1098.18 304.84L1033.23 267.34L1033.23 192.34zM1098.18 379.84L1163.13 417.34L1163.13 492.34L1098.18 529.84L1033.23 492.34L1033.23 417.34zM1228.09 -70.16L1293.04 -32.66L1293.04 42.34L1228.09 79.84L1163.13 42.34L1163.13 -32.66zM1293.04 42.34L1357.99 79.84L1357.99 154.84L1293.04 192.34L1228.09 154.84L1228.09 79.84zM1228.09 154.84L1293.04 192.34L1293.04 267.34L1228.09 304.84L1163.13 267.34L1163.13 192.34zM1228.09 379.84L1293.04 417.34L1293.04 492.34L1228.09 529.84L1163.13 492.34L1163.13 417.34zM1293.04 492.34L1357.99 529.84L1357.99 604.84L1293.04 642.34L1228.09 604.84L1228.09 529.84zM1422.95 42.34L1487.9 79.84L1487.9 154.84L1422.95 192.34L1358 154.84L1358 79.84zM1358 154.84L1422.95 192.34L1422.95 267.34L1358 304.84L1293.04 267.34L1293.04 192.34zM1422.95 267.34L1487.9 304.84L1487.9 379.84L1422.95 417.34L1358 379.84L1358 304.84zM1487.9 154.84L1552.86 192.34L1552.86 267.34L1487.9 304.84L1422.95 267.34L1422.95 192.34z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M51.42 -70.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM116.37 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM116.37 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM51.42 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-13.53 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-13.53 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM51.42 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM116.37 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM116.37 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM51.42 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-13.53 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-13.53 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM181.33 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM181.33 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM116.37 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM51.42 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM116.37 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM51.42 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-13.53 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-13.53 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM181.33 -70.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM246.28 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM246.28 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM181.33 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM311.24 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM311.24 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM246.28 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM181.33 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM246.28 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM376.19 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM441.14 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM441.14 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM376.19 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM311.24 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM311.24 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM376.19 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM441.14 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM441.14 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM376.19 642.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM311.24 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM311.24 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM441.14 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM506.1 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM506.1 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM376.19 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM506.1 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM571.05 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM571.05 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM506.1 642.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM571.05 -70.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM636 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM636 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM571.05 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM506.1 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM506.1 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM700.96 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM700.96 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM636 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM571.05 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM636 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM571.05 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM636 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM700.96 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM700.96 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM636 642.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM765.91 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.87 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.87 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM765.91 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM765.91 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.87 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.87 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM765.91 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM700.96 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM700.96 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM765.91 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.87 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.87 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM765.91 642.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM895.82 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM960.77 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM960.77 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM895.82 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.86 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.86 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM895.82 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM960.77 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM960.77 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM895.82 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.86 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.86 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM895.82 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM960.77 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM960.77 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM895.82 642.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.86 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM830.86 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1025.73 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1090.68 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1090.68 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1025.73 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1155.63 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1155.63 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1090.68 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1025.73 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1090.68 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1155.63 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1155.63 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1090.68 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1025.73 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1025.73 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 -70.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1155.63 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1155.63 -32.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.49 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.49 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 492.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.49 529.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.49 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1285.54 642.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1220.59 604.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1415.45 42.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1480.4 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1480.4 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1415.45 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.5 154.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.5 79.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1415.45 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.5 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1480.4 304.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1480.4 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1415.45 417.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1350.5 379.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1545.36 192.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1545.36 267.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M50.15 42.57L93.45 67.57L93.45 117.57L50.15 142.57L6.85 117.57L6.85 67.57zM6.85 117.57L50.15 142.57L50.15 192.57L6.85 217.57L-36.45 192.57L-36.45 142.57zM6.85 417.57L50.15 442.57L50.15 492.57L6.85 517.57L-36.45 492.57L-36.45 442.57zM136.76 192.57L180.06 217.57L180.06 267.57L136.76 292.57L93.45 267.57L93.45 217.57zM136.76 342.57L180.06 367.57L180.06 417.57L136.76 442.57L93.45 417.57L93.45 367.57zM180.06 117.57L223.36 142.57L223.36 192.57L180.06 217.57L136.76 192.57L136.76 142.57zM223.36 192.57L266.67 217.57L266.67 267.57L223.36 292.57L180.06 267.57L180.06 217.57zM223.36 342.57L266.67 367.57L266.67 417.57L223.36 442.57L180.06 417.57L180.06 367.57zM266.67 -32.43L309.97 -7.43L309.97 42.57L266.67 67.57L223.36 42.57L223.36 -7.43zM266.67 117.57L309.97 142.57L309.97 192.57L266.67 217.57L223.36 192.57L223.36 142.57zM266.67 267.57L309.97 292.57L309.97 342.57L266.67 367.57L223.36 342.57L223.36 292.57zM309.97 342.57L353.27 367.57L353.27 417.57L309.97 442.57L266.67 417.57L266.67 367.57zM309.97 492.57L353.27 517.57L353.27 567.57L309.97 592.57L266.67 567.57L266.67 517.57zM396.57 192.57L439.88 217.57L439.88 267.57L396.57 292.57L353.27 267.57L353.27 217.57zM353.27 267.57L396.57 292.57L396.57 342.57L353.27 367.57L309.97 342.57L309.97 292.57zM439.88 -32.43L483.18 -7.43L483.18 42.57L439.88 67.57L396.57 42.57L396.57 -7.43zM439.88 117.57L483.18 142.57L483.18 192.57L439.88 217.57L396.57 192.57L396.57 142.57zM483.18 492.57L526.48 517.57L526.48 567.57L483.18 592.57L439.88 567.57L439.88 517.57zM526.48 -32.43L569.78 -7.43L569.78 42.57L526.48 67.57L483.18 42.57L483.18 -7.43zM569.78 42.57L613.09 67.57L613.09 117.57L569.78 142.57L526.48 117.57L526.48 67.57zM569.78 192.57L613.09 217.57L613.09 267.57L569.78 292.57L526.48 267.57L526.48 217.57zM526.48 267.57L569.78 292.57L569.78 342.57L526.48 367.57L483.18 342.57L483.18 292.57zM569.78 342.57L613.09 367.57L613.09 417.57L569.78 442.57L526.48 417.57L526.48 367.57zM526.48 417.57L569.78 442.57L569.78 492.57L526.48 517.57L483.18 492.57L483.18 442.57zM569.78 492.57L613.09 517.57L613.09 567.57L569.78 592.57L526.48 567.57L526.48 517.57zM656.39 42.57L699.69 67.57L699.69 117.57L656.39 142.57L613.09 117.57L613.09 67.57zM613.09 117.57L656.39 142.57L656.39 192.57L613.09 217.57L569.78 192.57L569.78 142.57zM656.39 342.57L699.69 367.57L699.69 417.57L656.39 442.57L613.09 417.57L613.09 367.57zM656.39 492.57L699.69 517.57L699.69 567.57L656.39 592.57L613.09 567.57L613.09 517.57zM742.99 42.57L786.3 67.57L786.3 117.57L742.99 142.57L699.69 117.57L699.69 67.57zM699.69 117.57L742.99 142.57L742.99 192.57L699.69 217.57L656.39 192.57L656.39 142.57zM742.99 192.57L786.3 217.57L786.3 267.57L742.99 292.57L699.69 267.57L699.69 217.57zM742.99 342.57L786.3 367.57L786.3 417.57L742.99 442.57L699.69 417.57L699.69 367.57zM699.69 417.57L742.99 442.57L742.99 492.57L699.69 517.57L656.39 492.57L656.39 442.57zM829.6 192.57L872.9 217.57L872.9 267.57L829.6 292.57L786.3 267.57L786.3 217.57zM786.3 267.57L829.6 292.57L829.6 342.57L786.3 367.57L742.99 342.57L742.99 292.57zM829.6 492.57L872.9 517.57L872.9 567.57L829.6 592.57L786.3 567.57L786.3 517.57zM872.9 -32.43L916.2 -7.43L916.2 42.57L872.9 67.57L829.6 42.57L829.6 -7.43zM916.2 42.57L959.51 67.57L959.51 117.57L916.2 142.57L872.9 117.57L872.9 67.57zM916.2 192.57L959.51 217.57L959.51 267.57L916.2 292.57L872.9 267.57L872.9 217.57zM872.9 267.57L916.2 292.57L916.2 342.57L872.9 367.57L829.6 342.57L829.6 292.57zM916.2 342.57L959.51 367.57L959.51 417.57L916.2 442.57L872.9 417.57L872.9 367.57zM872.9 417.57L916.2 442.57L916.2 492.57L872.9 517.57L829.6 492.57L829.6 442.57zM916.2 492.57L959.51 517.57L959.51 567.57L916.2 592.57L872.9 567.57L872.9 517.57zM959.51 -32.43L1002.81 -7.43L1002.81 42.57L959.51 67.57L916.2 42.57L916.2 -7.43zM1002.81 42.57L1046.11 67.57L1046.11 117.57L1002.81 142.57L959.51 117.57L959.51 67.57zM959.51 117.57L1002.81 142.57L1002.81 192.57L959.51 217.57L916.2 192.57L916.2 142.57zM1002.81 192.57L1046.11 217.57L1046.11 267.57L1002.81 292.57L959.51 267.57L959.51 217.57zM1002.81 492.57L1046.11 517.57L1046.11 567.57L1002.81 592.57L959.51 567.57L959.51 517.57zM1089.41 192.57L1132.71 217.57L1132.71 267.57L1089.41 292.57L1046.11 267.57L1046.11 217.57zM1046.11 267.57L1089.41 292.57L1089.41 342.57L1046.11 367.57L1002.81 342.57L1002.81 292.57zM1089.41 342.57L1132.71 367.57L1132.71 417.57L1089.41 442.57L1046.11 417.57L1046.11 367.57zM1046.11 417.57L1089.41 442.57L1089.41 492.57L1046.11 517.57L1002.81 492.57L1002.81 442.57zM1176.02 42.57L1219.32 67.57L1219.32 117.57L1176.02 142.57L1132.71 117.57L1132.71 67.57zM1262.62 192.57L1305.92 217.57L1305.92 267.57L1262.62 292.57L1219.32 267.57L1219.32 217.57zM1262.62 342.57L1305.92 367.57L1305.92 417.57L1262.62 442.57L1219.32 417.57L1219.32 367.57zM1262.62 492.57L1305.92 517.57L1305.92 567.57L1262.62 592.57L1219.32 567.57L1219.32 517.57zM1305.92 -32.43L1349.23 -7.43L1349.23 42.57L1305.92 67.57L1262.62 42.57L1262.62 -7.43zM1349.23 42.57L1392.53 67.57L1392.53 117.57L1349.23 142.57L1305.92 117.57L1305.92 67.57zM1305.92 117.57L1349.23 142.57L1349.23 192.57L1305.92 217.57L1262.62 192.57L1262.62 142.57zM1305.92 267.57L1349.23 292.57L1349.23 342.57L1305.92 367.57L1262.62 342.57L1262.62 292.57zM1305.92 417.57L1349.23 442.57L1349.23 492.57L1305.92 517.57L1262.62 492.57L1262.62 442.57zM1349.23 492.57L1392.53 517.57L1392.53 567.57L1349.23 592.57L1305.92 567.57L1305.92 517.57zM1435.83 42.57L1479.13 67.57L1479.13 117.57L1435.83 142.57L1392.53 117.57L1392.53 67.57zM1392.53 117.57L1435.83 142.57L1435.83 192.57L1392.53 217.57L1349.23 192.57L1349.23 142.57zM1435.83 192.57L1479.13 217.57L1479.13 267.57L1435.83 292.57L1392.53 267.57L1392.53 217.57zM1392.53 267.57L1435.83 292.57L1435.83 342.57L1392.53 367.57L1349.23 342.57L1349.23 292.57zM1435.83 342.57L1479.13 367.57L1479.13 417.57L1435.83 442.57L1392.53 417.57L1392.53 367.57zM1392.53 417.57L1435.83 442.57L1435.83 492.57L1392.53 517.57L1349.23 492.57L1349.23 442.57zM1435.83 492.57L1479.13 517.57L1479.13 567.57L1435.83 592.57L1392.53 567.57L1392.53 517.57z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.712);
    height: 400px;
}

.footer-h3 {
    color: #FF5733;
    font-size: 1em;
    font-weight: bold;
}

.footer-p3 {
    font-size: small;
    color: rgb(255, 255, 255);
}
