@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;1,700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Mono+One&display=swap');

@font-face {
    font-family: 'Rhema';
    src: url('../Kaushan_Script/KaushanScript-Regular.ttf');
}

body {
    background-color: rgb(5, 5, 32);
    overflow-x: hidden !important;
}

#app {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #f9d4ff 14%,#0d0e14 64%);
    border-radius: 13px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
}

::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 11px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.nav-link {
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

.nav-link:hover {
    color: rgb(253, 167, 7);
}

.nav-item {
    margin-left: 15px !important;
    margin-right: 15px !important;
}


.swiper-container {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
.sw-1 {
    background-image: url('../images/wp2677604.jpg');
    height: 40vmax;;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(65, 105, 225, 0.63);
}

.sw-2 {
    background-image: url('../images/no-room-for-research-scientists-entity.jpg');
    height: 40vmax;;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sw-3 {
    background-image: url('../images/david-clode-P6j0WytkqPg-unsplash.jpg');
    height: 40vmax;;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 { 
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

@keyframes border-animation {
    0%   {border-top: 2px solid orange;}
    50%  {border-right: 2px solid orange;}
    75%  {border-bottom: 2px solid blue;}
    80%  {border-left: 2px solid blue;}

    100% {
        border-top: 2px solid orange;
        border-right: 2px solid orange;
        border-bottom: 2px solid blue;
        border-left: 2px solid blue;
    }
}

@keyframes text-gradient-animation {
    0%  {
            background: -webkit-linear-gradient(rgb(255, 255, 0), rgb(130, 12, 240)); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }

    50% {   
            background: -webkit-linear-gradient(rgb(130, 12, 240), rgb(255, 0, 0));    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }

    100%{  
            background: -webkit-linear-gradient(rgb(2, 3, 24), rgb(255, 255, 255));    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
        }
}

@keyframes slidedown {
    to {
     -webkit-transform: translate(0px, 300px);
     -ms-transform: translate(0px, 300px);
     transform: translate(0px, 300px);
    }
}

.swiper-button-next, .swiper-button-prev{
    color: #fffb00;
}

.greensock {
    overflow: hidden;
    visibility:hidden;
}

h2 { 
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.wrapper {
    margin: 10% 0 0 0;
    border-left: 0px solid rgb(166, 255, 0);
    overflow: hidden;
    font-family: 'Chakra Petch', sans-serif;
}

.bigline {
    font-size: 3vw;
    color: rgb(255, 0, 0);
    margin: 0 0 0 14px;
    padding: 0;
    line-height: 0.8;
    letter-spacing: -5px;
    font-family: 'Chakra Petch', sans-serif;
}

.introline {
    font-size: 3vw;
    margin: 0 0 0 20px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-weight: bold;
    margin: 0 0 0 6%;
}

.poster-ab {
    font-size: 2vw;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.poster-ab-bold {
    font-size: 2vw;
    /* background: -webkit-linear-gradient(rgb(130, 12, 240), rgb(255, 0, 0));
    animation: text-gradient-animation 3s cubic-bezier(0,0.2,0.8,1) infinite; */
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
}

.middle-name {
    display: none;
    justify-content: center;
    background-color: rgba(0, 60, 255, 0.603);
    text-align: center;
    align-items: center;
    height: 33% !important;
    width: 100% !important;
}

#idview:hover .middle-name, #idview:focus .middle-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    animation: slidedown 1s ease-in;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: reverse;
    background-color: rgba(15, 58, 201, 0.575);
}

.divina {
    font-size: 0.5vw;
}

p.introline {
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 768px) {
    #abk {
        height: 53vh;
        width: 80vh;
    }
    
    .box {
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {  
    .box {
        height: 50px;
    }
}

.titre {
    max-width: 375px;
    font-size: 1.1vw;
    color:rgb(247, 234, 234);
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
    text-orientation: sideways-right;
    text-transform: uppercase;
}

b {
    font-weight: bold;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

i {
    color: #FB803F;
    font-size: 1.2em;
    margin: 1px 5px 0 5px;
}

.hastag {
    color: blue;
    text-transform: capitalize;
    font-weight: bold;
}

.view {
    margin: 10px 0 10px 0;
}

.newsletter {
    width: 50% !important;
}

#exampleForm2 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #CFAF2F;
    outline: none;
    color: #fff;
    padding-left: 15px;
}

#exampleForm2:focus {
    border-width: 0px !important;
    outline: none;
}

.md-form {
    border-width: 0px !important;
    border-style: none !important;
    border-color: #CFAF2F !important;
    outline: none !important;
}

i.fa-apple {
    font-size: 1em;
    padding: 13px;    
    margin-right: -16px;
    margin-top: -4px;
    background-color: #0d0e14;
    border-radius: 50%;
    right: 0;
}

.hd-purple {
    font-family: Roboto;
}

input::placeholder {
    font-weight: bold;
    color: #fff !important;
}

#abk {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#idview:hover #abk, #idview:focus #abk {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.over-h5 {
    display: none;
    color: #fff;
}

#idview:hover .mask .over-h5, #idview:focus .mask .over-h5 {
    display: block;
}

.fa-long-arrow-alt-right {
    color: #fff;
}

.btn-outline-primary {
    color: #fff !important;
    font-weight: bold !important;
    border-color: blue !important;
    background-color: blue !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    border-color: blue !important;
    background-color: blue !important;
}

.btn-outline-primary: { 
    color: #fff !important;
    border-color: #CFAF2F !important;
    background-color: #CFAF2F !important;
}

.full-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.btn-light-blue {
    background-color: #2196F3 !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 1.2vw;
    padding: 1em 3em 1em 3em;
}


.btn-light {
    background-color: rgb(255, 255, 255) !important;
    color: #2196F3 !important;
    font-weight: bold !important;
    font-size: 1.2vw;
    padding: 1em 3em 1em 3em;
}

.y-h {
    color: #92a5de;
    text-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 7px 7px 0 #4C5F98, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 13px 13px 0 #182B64, 14px 14px 0 #0F225B, 15px 15px 0 #071A53, 16px 16px 0 #02114A, 17px 17px 0 #0B0841, 18px 18px 0 #130039, 19px 19px 0 #1C0930, 20px 20px 0 #251227, 21px 21px 20px rgba(0,0,0,1), 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2);
}

.bg-dark {
    background-color: rgb(5, 5, 32) !important;
}

.nav-link { 
    color:rgb(247, 234, 234);
}
