@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;1,700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');
@font-face {
    font-family: 'Rhema';
    src: url('../Kaushan_Script/KaushanScript-Regular.ttf');
}
.sw-1 {
    background-image: url('../images/1c64418d-2a1d-4548-aca2-4b2a3c88df81_bg-pricing-hero.jpg');
    height: 35vmax;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px #f7f7f700;
}

.rhema {
    background-image: url('../images/back.jpg');
    border-top-left-radius: 25pt 25pt;
    border-top-right-radius: 25pt 25pt;
    box-shadow: inset 0 0 0 2000px #0a2fa77a;
    z-index: 9999;
}

.introline {
    color: #fff !important;
    font-size: 2vw !important;
}

.fabulous {
    width: 30px !important;
    height: 30px !important;
}

.armanda-avatar {
    margin-top: -5em;
    width: 70px !important;
    height: 70px !important;
    background-color: rgb(42, 30, 56);
}

.biographie {
    color: #fff;
    font-weight: bold;
    max-width: 600px;
    text-align: justify;

}

.biographie::first-letter {
    font-size: 3vw !important;
    font-weight: bold !important;
    font-family: 'Rhema';
}

.linked-in {
    width: 100px !important;
    height: 30px !important;
    margin: 3px;
}

.subject {
    color: #fff !important;
    font-weight: bold !important;
}


.subtitle {
    color: rgb(0, 0, 0) !important;
    font-weight: bold !important;
}

.main {
    max-width: 600px;
}

.content {
    color: rgb(0, 0, 0) !important;
    font-weight: 400;
    text-align: left;
    margin-left: -0.3em;
    font-family: 'Source Code Pro';
}

.grid-container {
    margin-top: 33px;
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 3px 3px;
}

.grid-item {
    flex: 1 1 auto;
}

.figure {
    height: 200px;
}
