.grid-container {
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 50px 50px;
}

.img-fluid {
    height: 300px !important;
    width: 200px !important;
}

.description {
    max-width: 300px !important;
    font-weight: bold !important;
    text-align: justify;
}

.f-8 {
    color: blue;
}

.download-link {
    color: #000 !important;
    font-weight: bold !important;
    letter-spacing: 3px !important;
}

.fa-download {
    color: red !important;
}

h5 {
    color: orangered !important;
}
