/* @media */

body {
    overflow-x: hidden;
}

.dash {
    position: fixed !important;
    margin-top: auto;
    width: 50;
    bottom: 0;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    background-color: #110f1b;
    z-index: 1 !important;
}

.navbar {
    background-color: #fff;
}

.dash > .flex-row > a {
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration: none;
}

i {
    color: rgb(136, 114, 114);
}

i:hover {
    font-size: 25 !important;
    color: orange;
}

table {
    margin-top: 5em !important;
    background-color: white;
    font-weight: bold;
}

td {
    font-weight: 500 !important;
}

td:first-of-type {
    font-weight: bold !important;
}

.dg {
    color: rgb(255, 11, 11);
}

nav {
    height: 55 !important;
}

body::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #f00e4a 14%,#18191f 60%);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #f50e44 14%,#0f0e0f 64%);
}

body::-webkit-scrollbar-track{
    background: #232fdb;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

usd {
    color: orangered;
    font-weight: bold;
    font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
    nav {
        padding-right: 107% !important;
    }

    .main {
        margin-left: 3%;
    }

    table {
        margin: 5%;
    }
}

.f-s {
    color: rgb(255, 208, 0) !important;
}

h4.text-white {
    font-size: small !important;
}

th {
    font-weight: bold !important;
}

td {
    font-weight: 700 !important;
}

.drop {
    font-size: 20 !important;
}

.drop:hover {
    font-size: 20 !important;
}
